In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')
df.info()

In [ ]:
colunas_selecionadas = ['Name', 'Age', 'Sex', 'Pclass', 'Survived']
microDados = df.filter(items=colunas_selecionadas)
microDados.head()

In [29]:
microDados = microDados.loc[
            (microDados['Sex'] == 'female') & (microDados['Pclass'] == 1) & 
            (microDados['Survived'] == 1)]
microDados = microDados.sort_values('Name')
microDados.to_csv('titanic_results.csv', index=False)
microDados.head()

,Name,Age,Sex,Pclass,Survived
730,"Allen, Miss. Elisabeth Walton",29.0,female,1,1
275,"Andrews, Miss. Kornelia Theodosia",63.0,female,1,1
571,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",53.0,female,1,1
700,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",18.0,female,1,1
369,"Aubart, Mme. Leontine Pauline",24.0,female,1,1